.grey-text.text-darken-2 {
    color: #616161;
    text-align: center;
}
.grey-text.text-darken-3 {
    color: #424242;
    text-align: center;
    
}
.carousel.carousel-control 
{ visibility: hidden; }

#login-bg {
    background: #2196f3;
    min-height: 100vh!important;
    /* height: 100vh!important;
    max-height: 100vh!important; */
    /* padding-top: 2%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logcard{
    background-color: white;
    width:500px;
    height: 75vh;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -7px rgba(0,0,0,.2);
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    margin-left: 80px;    
}

div#toppanel {
    display: none;
  }
