.card{
    width: 255px ;  
   object-fit: fill;
   background: #e8e8e8;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 
   0 1px 5px 0 rgba(0,0,0,0.12);
   margin-right: 10px;
   box-sizing: border-box;
   font-family: sans-serif;
   overflow: hidden;
   transition: height 0.66s ease-out;
   height:100 px;
    background-color:grey;

 
}
.cardtitle{
   justify-Content:center;
   padding: 14px 14px 0px 14px ;
   color: black

}
.cardinfo {
   border-bottom: 1px solid rgba(160,160,160,0.2);

   color: rgba(85, 84, 84, 0.884);
   padding: 0px 14px 20px 14px ;
   margin-top: 0px;
   display: block;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.p{
   margin: 0;
   padding: 0;
}

.datebranch{
   margin-top: 10px;
   border-radius: 16px;
   background-color: #e4e4e4;
   color: rgba(61, 60, 60, 0.712)
   
}